@font-face {
  font-family: "Press Start 2P";
  src: url(fonts/PressStart2P-Regular.woff);
}

/* :root {
  background-color: black;
} */

body {
  margin: 0;
  font-family: "Press Start 2P";
  color: #ffffff;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 
canvas {
  border-radius: 10px;
} */

.input-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-size: 40px;
  color: #c7383c;
  background-color: #ffffff;
  outline: none;
  border: 4px solid #c7383c;
  padding: 5px;

  text-align: center;
  font-family: Press Start 2P;
  z-index: 100;
} 

