name: Deploy to Server

on:
  push:
    branches:
      - main  # change to your desired branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build
      - name: RSync Build Contents
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -avzr --delete
          path: dest/
          remote_path: ${{ secrets.FINAL_DEST }}
          remote_host: ${{ secrets.SERVER_HOST }}
          remote_user: ${{ secrets.SERVER_USERNAME }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }} 
